.btn-more-wr {
    color: white;
    z-index: 999;
    position: relative;
    font-family: 'Work Sans';
    text-align: center;
}

#arrow-down {
    display: block;
    text-align: center;
}

#arrow-down img {
    width: 40px;
    height: 27px;
    cursor: pointer;
    margin: auto;
}